.reviewContainer {
  position: relative;
  /* height: 400px; Increased height to accommodate the image */
  padding: 3em 1em;
  display: flex;
  /* flex-direction: column; Stack the image and review vertically */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  color: #060a17;
  max-width: 1300px;
  margin: 0 auto; /* Center the container */
}

.history {
  background-color: #fab712;
}
.history button{
  padding: 1em 2em;
  color: white;
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  background-color: #060a17;
  border: none;
  transition: 0.3s;
  width: fit-content;
  text-transform: uppercase;

}
.texts {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 3em 1em;
  gap: 3em;
}
.texts p {
  font-size: 24px;
  width: 60%;
  font-weight: 500;
  line-height: 35px;
}
.button {
  width: 100%;
}
.texts span {
  font-size: 24px;
  font-weight: 700;
}

.image {
  flex: 1; /* Allow the image to take up available space */
  min-width: 500px;
  height: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the area */
}

.review {
  flex: 1; /* Allow the review to take up available space */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-color: #fab712;
  padding: 2em;
  transform: translate(-50px, 20px);
  width: 400px;
  height: 400px;
  display: grid;
  position:relative;
  place-content: center;
  text-align: start;
  gap: 1em;
  box-sizing: border-box; /* Include padding in the width calculation */
}

.reviewContainer .review:nth-child(2) {
  opacity: 1; /* The review should be the second child after the image */
}

.review p,
.review h4 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center; /* Center the text */
}
.buttons{
  position:absolute;
  bottom:10px;
  right:10px;
  display:flex;
  align-items:center;
  gap:1em;

}
.buttons button{
padding:.7em 1em;
  border-radius:4px;
  background-color: #060a17;
  color: white;
  border: none;


}
@media screen and (max-width: 868px) {
  .reviewContainer {
    flex-direction: column;
    gap: 2em;
    padding: 1em;
  }
  .image {
    min-width: 100%;
  }
  .review {
    padding-bottom: 4em;
    min-width: 100%;
    height:100% ;
    transform: translate(0, 0);
  }
  .texts {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .texts p {
    width: 100%;
  }
}
