.main {
  max-width: 1250px;
  margin: 3em auto;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.intro h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #ffbe2c;
}
.intro p {
  font-size: 17px;
}

.info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;
  border: 1px solid #f0f0f0;
  padding: 0.5em;
}
.line:not(.line:last-child) {
  margin: 2em 0;
  border-right: 1px solid #f0f0f0;
}
.line {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.product {
  padding: 1em;
  gap: 2em;
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  width: 95%;
  margin: 0 auto;
  scroll-snap-type: x proximity;
}
.customCarousel {
  position: relative !important;
}
.whyUs {
  display: flex;
  align-items: start;
  gap: 3em;
  margin: 2em 0;
}
.whyUs h1 {
  font-size: 30px;
  color: #ffbe2c;
  font-weight: 600;
}
.leftU {
  overflow: hidden;
}
.whyUs p {
  font-size: 16px;
}
.leftU:hover img {
  scale: 1.05;
  cursor: pointer;
}
.whyUs img {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.whyUs div {
  width: 100%;
}
.customCarousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* display: block; */
}
.products {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.productsR h1 {
  font-size: 30px;
  font-weight: 500;
  font-weight: 600;
}
.products h2 {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
.product::-webkit-scrollbar {
  display: none;
}
.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  gap: 1em;
  height: 100%;
  scroll-snap-type: x proximity;

  border: 1px solid #f0f0f0;
}
.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.imageB {
  display: grid;
  place-content: center;
  /* width: 50%; */
}
.cardF {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 1em;
}
.cardF p {
  width: 100%;
}
.featuredProducts {
  display: flex;
  padding: 1em;
  margin: 3em 0;
  gap: 2em;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* flex-wrap: wrap; */
}
.featuredProducts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product button {
  padding: 0.5em;
  background: #ffbe2c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  /* width: fit-content; */
  border: none;
}
.box {
  /* width: 40em; */
  display: flex;
  height: 40em;
  background-color: black;
  padding: 4em;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
  text-align: center;
  color: white;
}
.box h1 {
  font-size: 30px;
  color: #ffbe2c;
  text-transform: uppercase;
}
.box p {
  font-size: 20px;
}
.box button {
  padding: 1em 2em;
  cursor: pointer;
  border: 3px solid #ffbe2c;
  color: #ffbe2c;
  background: transparent;
  transition: 0.3s;
}
.box button:hover {
  background: #ffbe2c;
  color: white;
}
.findOut {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: center;
  gap: 3em;
  padding: 2em;
  flex-wrap: wrap;
}
.box:first-child {
  background: linear-gradient(to bottom, #55565a 0%, rgba(85, 86, 90, 0.2) 100%),
    url("/images/buy-our-products.jpg");
  background-size: cover;
  background-position: top;
}
.box:last-child {
  background: linear-gradient(to bottom, #55565a 0%, rgba(85, 86, 90, 0.2) 100%),
    url("/images/Untitled-design-6.png");
  background-size: cover;
  background-position: top;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 180px;
  overflow: hidden;

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
.wrapperTwo {
}
@keyframes scrollRight {
  from {
    left: -200px;
  }
}
.item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.imageBox {
  min-width: 15em;
  /* background-color: rebeccapurple; */
}

.item {
  width: 200px;
  height: 150px;
  display: grid;
  place-content: center;
  /* background-color: red; */
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wrapperTwo .item {
  width: 200px;
  height: 150px;
  display: grid;
  place-content: center;
  /* background-color: red; */
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.left {
  display: flex;
  align-items: center;
  gap: 1em;
}
.item1 {
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}
.item9 {
  animation-delay: calc(30s / 9 * (9 - 9) * -1);
}
.item img {
  width: 85% !important;
  height: 100% !important;
  object-fit: contain;
  display: block;
}
.partners h1 {
  padding: 0.5em;
  text-transform: uppercase;
  margin: 1em 0;
  font-weight: 500;
  border-bottom: 2px solid #f0f0f0;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .intro h1 {
    font-size: 25px;
  }
  .whyUs {
    flex-direction: column-reverse;
    padding: 1em;
  }
  .intro p {
    font-size: 16px;
  }
  .intro {
    padding: 0.5em;
  }
  .info {
    /* border: none; */
    margin: 1em;
    padding: 1em;
  }
  .line {
    border: none !important;
  }
  .featuredProducts {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .findOut {
    padding: 1em;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .productsR {
    padding: 1em;
  }
  .products h2 {
    margin: 1em 0;
  }
  .product {
    width: 100%;
  }
  .partners {
    padding: 1em;
  }
  .wrapper,
  .wrapperTwo {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }
}
