.main {
  max-width: 1300px;
  color: white;
  margin: 0 auto;
}
.info button {
  font-size: 26px;
  font-style: italic;
  font-weight: 800;
  color: #060a17 !important;
  background-color: #fab712;
  width: fit-content;
  margin: 1em 0;
  border: none;
  padding: 0.7em 1em;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
}
.content {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 8em;
  display: flex;
}
.info {
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 8%, #060a17 95%),
    url("/images/JLMHeader.jpg");
  background-position: left;
  background-size: cover;
}
.path {
  align-items: center;
  gap: 0.5em;
  display: flex;
}
.path p {
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}
.info h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 60px;
  font-weight: 800;
}
.info h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fab712;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.right {
  display: grid;
  place-content: center;
  width: 50%;
  padding: 2em;
}
.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descriptions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.descriptions h2,
.descriptions h1 {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  margin: 1em 0;
}
.divs {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 600;
}

.product {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  gap: 1em;
  overflow-x: scroll;
}
.product::-webkit-scrollbar {
  display: none;
}
.product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.image {
  display: grid;
  place-content: center;
  width: 60%;
  padding: 2em;
  margin: 0 auto;
}
.icon img {
  width: 15%;
  height: 100%;
  object-fit: cover !important;
  display: initial !important;
}

.icon {
  display: flex;
  justify-content: flex-end !important;
  align-items: end !important;
}

.productItem p {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-weight: 800;
  color: #000;
}
.productItem {
  background-color: white;
  min-width: 300px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.845),
      rgba(255, 255, 255, 0.77)
    ),
    url("/images/logobw.png");
  background-color: white; /* Fallback color */
  background-size: contain; /* Adjust as needed */
  background-position: bottom left; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */

  justify-content: space-between;
  /* height: 300px; */
  transition: 0.2s;
  box-sizing: border-box;
  /* padding: 1em; */
  display: flex;
  flex-direction: column;
  /* gap: 3em; */
  /* align-items: center; */
}
.productItem:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media screen and (max-width: 868px) {
  .content {
    flex-direction: column-reverse;
    /* align-items: center; */
    /* text-align: center; */
    padding-right: 1em;
    padding-left: 1em;
  }
  .descriptions h2 {
    font-size: 25px;
  }
  .right{
    width: 100%;
  }
  .main {
    padding: 1em;
  }
  .info h1 {
    font-size: 40px;
    /* text-align: center; */
  }
  .info button {
    margin: 1em 0;
  }
  .descriptions {
    /* align-items: center; */
    /* text-align: center; */
  }
  .descriptions ul {
    padding: 2em 0;
  }
  .descriptions h2 {
    margin: 0;
  }
  .intro {
    margin: 1em 0;
  }
  .descriptions li {
    align-items: start;
  }
  .path p {
    display: none;
    font-size: 14px;
  }
}
