.main {
  max-width: 1300px;
  color: white;
  margin: 0 auto;
}

.info button {
  font-size: 26px;
  font-style: italic;
  font-weight: 800;
  color: #060a17 !important;
  background-color: #fab712;
  width: fit-content;
  margin: 1em 0;
  border: none;
  padding: 0.7em 1em;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 8em;
  display: flex;
  /* flex-wrap: wrap; Ensures items wrap properly on smaller screens */
}

.info {
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 8%, #060a17 95%),
    url("/images/JLMHeader.jpg");
  background-position: left;
  background-size: cover;
}

.path {
  align-items: center;
  gap: 0.5em;
  display: flex;
}

.path p {
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

.info h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 60px;
  font-weight: 800;
}

.info h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fab712;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%; /* Ensures the left section takes full width */
}

.right {
  display: grid;
  place-content: center;
  width: 100%; /* Ensures the right section takes up half the width */
  padding: 2em;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.descriptions h2,
.descriptions h1 {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  margin: 1em 0;
}

.divs {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 600;
}

.product {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  gap: 1em;
  overflow-x: scroll;
}

.product::-webkit-scrollbar {
  display: none;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.image {
  display: grid;
  place-content: center;
  width: 80%;
  padding: 2em;
  margin: 0 auto;
}

.icon img {
  width: 15%;
  height: 100%;
  object-fit: cover !important;
  display: initial !important;
}

.icon {
  display: flex;
  justify-content: flex-end !important;
  align-items: end !important;
}

.productItem p {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-weight: 800;
  color: #000;
}

.productItem {
  background-color: white;
  min-width: 300px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.845),
      rgba(255, 255, 255, 0.77)
    ),
    url("/images/logobw.png");
  background-color: white; /* Fallback color */
  background-size: contain; /* Adjust as needed */
  background-position: bottom left; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  justify-content: space-between;
  transition: 0.2s;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.productItem:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media screen and (max-width: 868px) {
  .content {
    flex-direction: column-reverse; /* Stacks elements vertically */
    padding-right: 1em;
    padding-left: 1em;
  }
  .productItem p {
    font-size: 17px;
  }
  .right {
    width: 100%; /* Ensures the right section takes full width on smaller screens */
  }

  .descriptions h2 {
    font-size: 25px;
  }

  .main {
    padding: 1em;
  }

  .info h1 {
    font-size: 40px;
  }

  .info button {
    margin: 1em 0;
  }

  .descriptions ul {
    padding: 2em 0;
  }

  .descriptions h2 {
    margin: 0;
  }

  .intro {
    margin: 1em 0;
  }

  .descriptions li {
    align-items: start;
  }

  .path p {
    display: none;
    font-size: 14px;
  }
}
