@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17px;
}
ul {
  list-style: none;
}
body {
  overflow-x: hidden;
  background-color: #060a17;
}
button:hover {
  cursor: pointer !important;
}
.burger {
  position: relative;
  width: 40px;
  height: 40px;
  scale: 0.7;
  background: transparent;

  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
.owl-prev,
.owl-next {
  /* position: absolute; */
  width: 3em;
  height: 3em;
  background: #ffbe2c !important;
  display: grid;
  place-content: center;
}
.owl-next span,
.owl-prev span {
  font-size: 40px;
  color: white;
}

.owl-prev {
}

.owl-next {
}
.owl-nav {
  display: flex !important;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 1em;
}
@media screen and (max-width: 868px) {
  .burger {
    display: block;
  }
}
