
.partners h1,
.news h1 {
  padding: 0.5em;
  text-transform: uppercase;
  margin: 1em 0;
  font-weight: 500;
  /* border-bottom: 2px solid #f0f0f0; */
  font-size: 50px;
  font-style: italic;
  font-weight: 800;
  color: white;
}
.newsItems img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.imageC {
  height: 250px;
}
.card h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;

  /* min-width: 400px; */
}
.newsItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1em;
}
.news h1 {
  color: rgb(6, 10, 23);
}
.contentN {
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  background-color: white;
  cursor: pointer;
  transition: 0.4s;
}
.card:hover {
  transform: scale(1.02);
}
.news {
  background-color: #f9f9fb;
  padding: 2em 1em;
}
.read {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infos {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}
.infos p {
  font-size: 24px;
  text-transform: capitalize;
}
@media screen and (max-width:868px) {
  .newsItems{
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

  }
}