.nav {
  display: flex;
  align-items: center;
  padding: 0 1em;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.mainNav {
  z-index: 1000;
  background-color: #fab712;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.logo {
  /* background-color: black; */
  display: grid;
  place-content: center;
  width: 20%;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
}
.nav ul li {
  display: flex;
  position: relative;
  /* align-self: center; */
  gap: 1em;
  text-transform: uppercase;
}
.nav a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  transition: 0.3s;
}
.search {
  cursor: pointer;
}
.dropdown {
  position: absolute;
  background-color: #fab712;
  top: 200%;
  visibility: hidden;
  opacity: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.3s;
}
.nav ul li:hover i {
  color: white;
}
.nav ul li:hover a {
  color: white;
}
.dropdown ul {
  display: flex;
  align-items: initial !important;
  flex-direction: column;
  gap: 0 !important;
}
.dropdown ul li:hover {
  background-color: #060a17;
  color: white;
  cursor: pointer;
}
.dropdown ul li {
  transition: 0.3s;
  align-items: initial !important;

  white-space: nowrap;
  padding: 1em;

  text-transform: capitalize !important;
}
.product:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.mobileMenu {
  display: none;
}
.rotate {
  animation: rot .2s linear;
}
@keyframes rot {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .ul {
    display: none;
  }
  .mobileMenu {
    top: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    background-color: #060a17;
    display: block;
    position: absolute;
  }
  .mobileMenu ul {
    display: flex;
    flex-direction: column;
    /* gap: .5em; */
  }
  .mobileMenu a {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    /* padding: 1em; */
  }
  .show {
    visibility: visible;
    opacity: 1;
  }
  .mobileMenu li {
    padding: 1.5em;
  }
  .nav ul {
    display: none;
  }
  .nav {
  }
  .logo {
    width: 50%;
  }
}
