.brands {
  max-width: 1300px;
  margin: 0 auto;
  /* color: white; */
}
.brands h2{
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  
}
.right {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.right h2 {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}
.brand {
  display: flex;
  align-items: center;
  gap: 2em;
}
.right div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.aBrands {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1em;
  margin: 3em 0;
}
.image {
  display: grid;
  place-content: center;
  width: 100%;
  padding: 2em;
  margin: 0 auto;
}
.icon img {
  width: 15%;
  height: 100%;
  object-fit: cover !important;
  display: initial !important;
}
.icon {
  display: none;
  justify-content: flex-end !important;
  align-items: end !important;
}
.productItem img {
  width: 100%;
  /* display: none; */
  height: 100%;
  object-fit: contain;
  display: block;
}

.productItem p {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-weight: 800;
}
.productItem {
  /* min-width: 400px; */

  /* background-color: #060a17; */
  background: linear-gradient(
      rgba(255, 255, 255, 0.845),
      rgba(255, 255, 255, 0.77)
    ),
    url("/images/logobw.png");
  background-color: white; /* Fallback color */
  background-size: contain; /* Adjust as needed */
  background-position: bottom left; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */

  justify-content: space-between;
  /* height: 300px; */
  transition: 0.2s;
  box-sizing: border-box;
  /* padding: 1em; */
  display: grid;
  height: 400px;
  place-content: center;
  /* gap: 3em; */
  /* align-items: center; */
}
.productItem:hover {
  transform: scale(1.02);
  cursor: pointer;
}
@media screen and (max-width: 868px) {
  .brand {
    flex-direction: column;
  }
  .brands {
    padding: 2em;
  }
  .left {
    place-content: start;
  }
  .left,
  .right {
    max-width: 100% !important;
  }
  .aBrands {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
